.stickerP1{
    font-size: 2rem;
    padding-bottom: 1rem;
    font-weight: 600;
    
}
.stickerP2{
    font-size: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-bottom: 1rem;

}