.mobileDock {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #0d1e4b;
  display: none; /* Hidden by default */
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  z-index: 9999;
  color: #fff;
}

.mobileDockButton {
  justify-content: center;
}

.mobileDock button {
  border: none;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobileDock .centerButton {
  font-size: 1.75rem;
  transform: translateY(-10px);
}

.buyWashButton {
  width: 100px;
  height: 100px;
  margin-top: -30px;
  background: #feff00;
  justify-content: center;
  border-radius: 50%;
  color: #000;
}
@media (max-width: 768px) {
  .mobileDock {
    display: flex !important;
  }
}
