.navigation {
  height: 130px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--menu-color);
}

.dropDown {
  position: absolute;
  display: none;
  background-color: var(--menu-background-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 350px;
  z-index: 1;
}

.dropDownElement {
  margin: 1rem;
}

.dropDown a:hover {
  text-decoration: underline;
}

nav li:hover .dropDown {
  display: block;
}

.navElement {
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
}

.navElement a:hover {
  color: #fff !important;
}

.topNavM {
  display: none;
}
.heroSectionM {
  display: none;
}

@media only screen and (max-width: 480px) {
  .navigation {
    display: none;
  }
  .mobileHeader {
    display: block;
    background-color: #085f9d;
    display: flex;
    justify-content: space-between;
  }

  .mobileNavElement {
    width: 400px;
  }

  .mobileNav.open {
    display: block;
  }
  .hamburgerButton {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobileMenuBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: var(--menu-color);
    color: #fff;
    width: 100%;
    text-align: left;
    transition: 0.4s;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 3rem;
    margin-left: 0.8rem;
  }

  .kleanFreakLogo {
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: -2rem;
  }

  .topNavM {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--menu-color);
    color: #fff;
    height: 100px;
    padding: 1em;
  }

  .menu {
    align-items: flex-start;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }

  .menuButtonContainer {
    display: flex;
    margin-top: 2rem;
    margin-right: 1rem;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
  }

  #menuToggle {
    display: none;
  }

  .menuButton,
  .menuButton::before,
  .menuButton::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }

  .menuButton::before {
    content: "";
    margin-top: -8px;
  }

  .menuButton::after {
    content: "";
    margin-top: 8px;
  }

  #menuToggle:checked + .menuButtonContainer .menuButton::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }

  #menuToggle:checked + .menuButtonContainer .menuButton {
    background: var(--menu-color);
  }

  #menuToggle:checked + .menuButtonContainer .menuButton::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 6rem;
    left: 0;
    flex-direction: column;
    width: 100%;
  }

  .hamburgerMenuList {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: left;
    width: 100%;
    background-color: #085f9d;
    text-align: left;
    z-index: 11;
  }

  #menuToggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menuToggle:checked ~ .menu li {
    height: auto;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    margin: 0;
    width: 100%;
    color: white;
    background-color: var(--menu-color);
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

  .accordion {
    background-color: var(--menu-color);
    color: #fff;
    padding: 18px;
    width: 400px;
    text-align: left;
    transition: 0.4s;
    text-transform: uppercase;
    font-weight: 800;
  }

  .accordianNoClick {
    background-color: var(--menu-color);
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
  }

  .panel {
    width: 400px;
    padding: 0 18px;
    background-color: var(--menu-background-color);
    display: none;
    flex-direction: column;
    overflow: hidden;
    align-content: center;
  }

  .hamburgerPanelElement {
    height: 40px;
    margin-top: 1rem;
    font-size: 17px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
  }
}
